a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {

  a:hover {
    color: #000000;
  }
  button {
    background-color: #220000;
    color: white;
  }
}
